@use "styles/colors.module";
@use "styles/animations";
@use "styles/mixins";
@use "styles/variables";

@mixin label {
  color: colors.$grey_content_font;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
 }

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.highlight {
  &:hover {
    background: colors.$highlight_bg;
  }
}

.card {
  display: block;
  width: 100%;
  background-color: colors.$white;
  overflow: visible;
  transition: all 150ms ease-in-out;

  &.unlocking {
    background-color: colors.$white;
  }
}

.icon {
  color: colors.$white;
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.trezor_btn {
  background: linear-gradient(colors.$blue_dark_very_much, colors.$blue);
  padding: 0 5px 10px 5px;
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0, 0.1) infinite;
}

.save_btn {
  margin-top: variables.$account_info_controls_margin;
  margin-right: 1rem;
  border: none;
  background-color: rgb(colors.$green,1);
  color: colors.$white;
  border-radius: 3px;
  width: 6rem;
  height: 2.5rem;
  padding: 0.5rem 0;

    &:hover {
      background-color: rgb(colors.$green,0.8);
      cursor: pointer;
    }
}

.discard_btn {
  margin-top: variables.$account_info_controls_margin;
  margin-right: 1rem;
  background-color: rgb(colors.$white,1);
  border: 1px solid colors.$black;
  color: colors.$black;
  border-radius: 3px;
  width: 6rem;
  height: 2.5rem;
  padding: 0.5rem 0;

  &:hover {
    color: colors.$black;
    border-color: colors.$black;
    cursor: pointer;
  }
}

.edit_btn {
  margin-left: auto;
  align-self: center;
  margin-right: 1rem;
  border: none;
  visibility: hidden;
  background-color: rgb(colors.$white,0);
  color: colors.$grey_font;
  border-radius: 3px;
  width: 6rem;
  padding: 0.5rem 0;

  &:hover {
    background-color: colors.$white;
  }
}

.remove_button {
  display: flex;
  align-items: center;
  width: 15rem;
  border-radius: 3px;
  background-color: colors.$red;
  color: colors.$white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
}

.delete_icon {
  margin-right: 0.5rem;
  fill: colors.$white;
}

.label {
  @include label;
}