@use "styles/colors.module";

.highlight {
  &:hover {
    background: colors.$highlight_bg;
  }
}

.card {
  display: block;
  width: 100%;
  background-color: colors.$white;
  overflow: visible;
  transition: all 150ms ease-in-out;
}

.entry {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid #fff;
}
