@use "styles/colors";
@use "styles/mixins";

.container {
  padding: 1rem;
}

.notification_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 3px;
  background-color: colors.$blue;
  color: colors.$white;
  font-size: 0.875rem;
  font-weight: 300;
}

.notification_error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 3px;
  background-color: colors.$red;
  color: colors.$white;
  font-size: 0.875rem;
  font-weight: 300;
}

.start_bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 3px;

  .col1 {
    display: flex;
    flex-direction: row;
    flex: 3;
  }

  .col2 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  button {
    border: 0.0625rem solid transparent;
    margin-left: 0.75rem;
    font-weight: 300;
    height: 2.5rem;
    cursor: pointer;
  }

  .filter_container {
    display: flex;
    width: 75%;
    margin-left: 0.75rem;
  }
}

.add_btn {
  color: colors.$white;
  background-color: colors.$blue;
  border-color: colors.$blue;
  border-radius: 3px;
  margin-right: 1rem;
  width: 6rem;
  padding: 0.5rem 0;
}

.grey_btn {
  color: colors.$grey_content_font;
  background-color: colors.$white;
  border-radius: 3px;
  width: 6rem;
  padding: 0.5rem 0;
}

.drop_box_btn {
  color: colors.$grey_content_font;
  border-radius: 3px;
  width: 6rem;
  padding: {
    top: 0.5rem;
    bottom: 0.5rem;
    left: 1rem;
    right: 0;
  }
  background: {
    color: colors.$white;
    image: url('/images/dropbox-grey.svg');
    size: 1rem 1rem;
    repeat: no-repeat;
    position: 15px center;
  }
}

.dashboard {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-top: 1px solid colors.$grey_border;
  margin: 0 0 20px 0;
}

.heading {
  color: colors.$black_font;
  @include mixins.text_headline;
}

.subheading {
  color: colors.$black_font;
  @include mixins.text_subheading;
}
