@use "styles/colors.module";
@use "styles/animations";
@use "styles/mixins";
@use "styles/variables";

.account_info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account_info_controls {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.avatar_mini {
  display: flex;
  position: relative;
  margin: 15px 15px 10px 20px;
  border-radius: 4px;
  height: variables.$avatar_size;
  width: variables.$avatar_size;
  img {
    position: absolute;
  }
  &.shaded {
    background-color: rgba(colors.$grey_content_font, .4);
  }
}

.title {
  padding-left: 1rem;
  display: inline;
  font-size: 1rem;
  color: colors.$grey_content_font;
  text-overflow: ellipsis;
  white-space: nowrap;

}
strong.title {
  font-size: 1.3rem;
}

.credentials {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  @include mixins.text_sm;
  color: colors.$grey_font;
  text-overflow: ellipsis;
  input {
    width: 75px;
    border: none;
    background-color: transparent;
    letter-spacing: 0.1rem;
  }
  .username_label {
    margin-bottom: 0.25rem;
    cursor: pointer;
  }
}

.trezor_btn {
  background: linear-gradient(colors.$blue_dark_very_much, colors.$blue);
  padding: 0 5px 10px 5px;
  animation: shake 1.2s cubic-bezier(0.36, 0.07, 0, 0.1) infinite;
}

.edit_btn {
  margin-left: auto;
  align-self: center;
  margin-right: 1rem;
  border: none;
  outline: none;
  visibility: hidden;
  background-color: rgb(colors.$white,0);
  color: colors.$grey_font;
  border-radius: 3px;
  width: 6rem;
  padding: 0.5rem 0;
  cursor: pointer;

  &:hover {
    background-color: colors.$white;
    cursor: pointer;
  }
}

.password_shadow {
  visibility: hidden;
  margin-left: 0.5rem;
  transition: all 30ms ease-in-out;
  &:hover {
    cursor: pointer;
  }
}

.container {
  display: flex;
  width: 100%;
  background-color: colors.$white;

  &.hovered {
    .password_shadow {
      color: colors.$grey_content_font;
      visibility: visible !important;
    }
    .edit_btn {
      visibility: visible !important;
    }
  }
}