@use "styles/colors.module";
@use "styles/mixins";
@use "styles/variables";
@use "../PasswordEntry.module";


.layout {
  display: grid;
  grid-template-columns: 1fr 7rem;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.container_row_no_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.label {
  color: colors.$grey_content_font;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.input {
  overflow: visible;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.1em;
  background-color: colors.$grey_bg;
  color: colors.$black_font;
  width: 15rem;
  outline: none;
  padding: 5px 7px;
}

.invalid {
  border: 1px solid colors.$red;
  background-color: colors.$highlight_red;
}

.input:user-invalid {
  @extend .invalid;
}

.control_btn {
  background-color: rgb(colors.$white,1);
  border: 1px solid colors.$grey_font;
  color: colors.$grey_font;
  border-radius: 3px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;

  &:hover {
    color: colors.$black;
    border-color: colors.$black;
  }
}

.entry {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 1px solid #fff;

  &:hover {
    .password_shadow {
      color: colors.$black;
      visibility: visible !important;
    }
    .edit_btn {
      visibility: visible !important;
    }
  }

  .account_info {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .account_info_controls {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .avatar_mini {
    display: flex;
    position: relative;
    margin: 15px 15px 10px 20px;
    border-radius: 4px;
    height: variables.$avatar_size;
    width: variables.$avatar_size;
    img {
      position: absolute;
    }
    &.shaded {
      background-color: rgba(colors.$grey_content_font, .4);
    }
  }

  .avatar_expanded {
    display: flex;
    position: relative;
    margin: 15px 15px 10px 20px;
    background-color: rgba(colors.$grey_content_font, .4);
    border-radius: 4px;

    height: calc(variables.$avatar_size * 2);
    width: calc(variables.$avatar_size * 2);

    img {
      position: absolute;
    }
  }

  .title {
    padding-left: 1rem;
    display: inline;
    font-size: 1rem;
    color: colors.$grey_content_font;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
  strong.title {
    font-size: 1.3rem;
  }

  .credentials {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    @include mixins.text_sm;
    color: colors.$grey_font;
    text-overflow: ellipsis;

    input {
      width: 75px;
      border: none;
      background-color: transparent;
      letter-spacing: 0.1rem;
    }

    .label {
      margin-bottom: 0.25rem;
    }

    .password_shadow {
      visibility: hidden;
      margin-left: 0.5rem;
      transition: all 30ms ease-in-out;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
