@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    @include flex-center;
    min-height: 100vh;
    padding: 0 0.5rem;
    flex-direction: column;
}

.main {
    @include flex-center;
    padding: 5rem 0;
    flex: 1;
    flex-direction: column;
}

.bg_wrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}