@use "styles/colors.module";
$line_height: 100px;

.modal_body {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: colors.$white;

  button {
    position: absolute;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    background-color: colors.$white;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    right: 20px;
  }
}

.icon {
  padding: 0 10px;
  svg {
    height: $line_height
  }
}

.title {
  input, span {
    display: inline-block;
    background: transparent;
    padding: 0 0 0 5px;
    margin: 0;
    border: none;
    outline: none;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    line-height: $line_height;
    max-width: 450px;
    color: colors.$grey_content_font;
  }
}

.tag_controls {
  position: absolute;
  bottom: -40px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 200px;
  button {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
  }
  .green {
    background-color: colors.$green;
    border-color: colors.$green;
  }
  .red {
    background-color: colors.$red;
    border-color: colors.$red;
  }
  .blank {
    color: colors.$grey_content_font;
  }
}
