@use "styles/colors";
@use "styles/mixins";

$close_button_size: 40;

:export {
  close_button_size: $close_button_size;
}

.filter {
  width: 100%;

  .filter_wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
  }

  input {
    color: colors.$black_font;
    @include mixins.text_sm;
    font-size: 1rem;
    box-shadow: none;
    outline: none;
    border-radius: 0.25rem;
    height: #{$close_button_size}px;
    border: 1px solid colors.$grey_border;

    padding-left: calc(2.25rem/3);
    padding-right: calc(2.25rem/3);

    transition: 100ms ease-out;

    &:focus {
      outline: transparent none;
      border: 1px solid colors.$blue;
    }

    &::placeholder {
        color: colors.$grey_font;
    }
  }
}

.clear_button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
    color: colors.$grey_font;

    &:hover {
        color: colors.$blue;
    }
}

.icon_white {
  filter: colors.$grey_filter;
}
