@use "../../styles/colors.module";

.dropdown_menu {
  position: absolute;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 0;
  li {
    list-style-type: none;
  }
  li:hover, li:hover * {
    color: colors.$black_font;
    background-color: colors.$highlight_bg;
  }
  li.active, li.active * {
    color: colors.$white;
    background-color: colors.$blue;
  }
}

