@use "styles/colors";
@use "styles/animations";

.modal_backdrop {
  position: fixed;
  inset: 0 0 0 0;
  opacity: 0.5;
  background-color: #000;
  z-index: 1040;
}

.modal_backdrop_inactive {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: colors.$grey_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal_content {
  position: fixed;
  z-index: 1055;
  height: auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  animation: slideInModal 600ms ease-out;
  transform: translate(-50%, 0);
}

@keyframes slideInModal {
  0% {
    opacity: 0;
    transform: translateY(-100px) translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translate(-50%, 0);
  }
}
